
/* posts */
.post {}
.type-post {}
.hentry  {}
.entry-title {
    margin-bottom: 0px;
    font-family: Lora;
    font-weight: 700;
}
.entry-title a:link:hover {
    /*letter-spacing: .25em;*/
    text-decoration: underline;
}
.ctcol .top a:link {
    color: #6298E2;
}
.ctcol .top a:link:hover {
    color: #339933;
}
.ctcol .top a:link:visited {
    color: #339933;
}
.ctcol .top a:link:active {

}
.post_date{
    font-size: .75em;
    margin-left: 4em;
    font-family: Lora;
    font-weight: 400;
    font-style: italic;
}
.entry-content {
    font-family: Lora;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.75em;
    font-size: 11pt;
}
.entry-content a {
    font-weight: bold;
}
.entry-content a:link {

}
.entry-content a:visited {
    color: #666633;
}
.entry-content a:active {

}

.entry-content img {
	float: left;
}
.entry-utility {}
.entry-utility-prep {}
.entry-utility-prep-cat-links {}
.post-edit-link {}

/* categories */
.cat-links {}
.categories{}
.cat-item {}
.children {}

/* comments */
.comments-link {}

/* misc */
.meta-sep{}

/* links */
.edit-link {}
.linkcat {}
.blogroll {}

/* search, etc */
.search {}
.archives {}
.meta {}




/* there are lots of others, but this will get you started. 

/*.wp-caption {
    width: 70%;
    margin: 0 auto;
}*/

div.alignright {
    float: right;
}

p.wp-caption-text {
    font-size: smaller;
    margin: 0;
    padding: 0; 
}

/*globals*/
a {
    text-decoration: none;
}

/* columns */ 
body, html {
    height: 100%; 
    margin: 0; 
    background-color: #6298E2;
/*    background-image: url('white.png'), url('ripples.png');
    background-size: 100% 200px, 100% 100%;
    background-position: 0 0, 0 200px;
    background-repeat: repeat, repeat;*/
}
#blog-container {
    height: 100%;
    width: 920px;
    margin: 0 auto;
    background-color: white;
}
.whitebg {
    height: 100%;
    background-color: white;
    float:left;
}
.colwrapper { width:100%; height: 100%;        }
.ltcol, .rtcol { 
    position: relative;
    background-color: white;
    float:left;
    width: 20%;
    height: 100%;
        }
.ltcol .top {
    width: 100%;
    width: 100%;
}

.ctcol {
/*    margin: 0 auto;*/
    width: 720px;
    height: 100%;
    float:left;
    /*padding: 0 0 100px 0;*/
     background-color: #6298E2;       
        }
.ctcol .top {
    float: left;
    padding: 0 25px;
    background-color: white;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.ctcol .bottom {
    float: left;
    width: 720px;

    background-color: #6298E2;
}

.rtcol .top {
    width: 100%;
    height: 20%;
    background-color: white;
}
.side {
    float: left;
    min-width: 100px;
    height: 100%;
    /*margin-top: 200px;*/
    background-color: #6298E2;
}
.side.right {
    float: left;
    border-top-left-radius:100px;
}
.side.left {

    border-top-right-radius: 100px;
}
.clear { clear: left; }

/*header styles*/
#header-container {
    width: 100%;
    background-color: white;
}
#header-sub-container {
    width: 720px;
    margin: 0 auto;
}
#header h1 {
    font-family: Exo;
    font-weight: 900;
    font-size: 4em;
    -webkit-text-stroke: 2px white;
    margin: 0;
    color: #6298E2;
    text-align: center;
}
#header h2 {
    text-align: center;
    color: black;
    margin: -10pt 0 0;
    font-family: Exo;
    font-weight: bold;
    font-size: 2em;
    -webkit-text-stroke: 1px white;
}

/*projects styles*/

#projects {
    height: 420px;
    width: 100%;
    margin: 1em 10px;
    text-align: center;
}

#projects a.project {
    float: left;
    width: 30%;
    font-family: Lora;
    text-decoration: none;
    margin: 10px;
/*    width: 220px;*/
    display: inline-block;
}

#projects a.project img{
    width: 165px;
    height: 116px;
}

#projects h3 {
    text-align: left;
    color: #6298E2;
    font-family: Exo;
    font-weight: 700;
    margin-bottom: 0;
}

#projects h4 {
    margin: 2px;
}

#projects p {
    height: 3em;
    margin: 2px;
    font-size: 9pt;
}

/*Link styles*/

#links {
    width: 100%;
    text-align: center;
}

#links a {
    padding: 3px 1em;
    font-family: Exo;
    display: inline-block;
    margin: 2px 1em;
}

#links a:link {
    background-color: #6298E2;
    color: white;
}

#links a:hover {
    background-color: white;
    color: #6298E2;
}
/*footer styles*/

#footer p {
    text-align: center;
    font-family: Lora;
    color: white;
    margin-top: 0px;
}

.anchor {
    clear: both;
}
